<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Flickr</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$.ajax({
				  type: "POST",
				  url: "https://api.500px.com/v1/photos",
				  data: { 
					  		feature: "fresh_today", 
					  		consumer_key: "trCHCp2KTJZBDAaBp9xduP688IPRcyZB4ZaJU7p8"
					  	}
				}).done(function( msg ) {
					$.each(msg.photos, function(){
						var element = "<a rel='lightbox' href='#' title='" + this.image_url + "'><img src='" + this.image_url + "' /></a>";
						$("body").append(element);
					});
			});
		
		$(document).mousemove(function(e){
			if(e.pageY == 0){
		      $('#status').show();
			}else if(e.pageY > 25){
				$('#status').hide();
			}
		}); 
		$("a").click(function(){
			alert("clicked")
		})
	})
</script>
</head>
<body>
	<div id="status" style="left:0 ; color: #fff; display: none; top:0;height: 45px; width: 100%;position:absolute; background-color: black">
		Explore
	</div>
</body>
</html>