<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Flickr</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		alert("hello");
		$.ajax({
				  type: "POST",
				  url: "http://api.flickr.com/services/rest/",
				  data: { 
					  		method: "flickr.interestingness.getList", 
					  		api_key: "8a13dee6ee18863a0112f99206b78b69",
					  		format: "json",
					  		nojsoncallback: "1",
					  		per_page: 200
					  	}
				}).done(function( msg ) {
					$.each(msg.photos.photo, function(){
						var imageUrl = "http://farm" + this.farm +".staticflickr.com/" 
						+ this.server +"/" + this.id +"_" + this.secret;
						var largeImage = imageUrl +"_b.jpg";
						var smallImage = imageUrl +"_s.jpg";
						var element = "<a class='fullview' href='#' title='" + largeImage + "'>" +
										"<img src='" + smallImage + "' />" + 
			  						  "</a>";
						$("body").append(element);
					});
			});
		
		/*$(document).mousemove(function(e){
			if(e.pageY == 0){
		      $('#status').show("slow")
			}else if(e.pageY > 25){
				$('#status').hide("slow");
			}
		});*/ 
		
		$("a, img").click(function(){
			alert("clicked" + $(this).attr("title"));
		});		
	})
</script>
</head>
<body>
	<div id="status" style="left:0 ; color: #fff; display: none; top:0;height: 45px; width: 100%; background-color: black">
		Explore
	</div>
</body>
</html>